<?xml version="1.0"?>

<robot name="$(arg prefix)mm1" xmlns:xacro="http://ros.org/wiki/xacro" xmlns:gz="http://gazebosim.org/schema">

  <!-- TF/topic prefix for this robot. Must end with a separator (e.g. "r1_")
       because every link and joint name is built as ${prefix}<name>. -->
  <xacro:arg name="prefix" default="r1_" />

  <xacro:arg name="omni" default="false" />
  <xacro:arg name="mm" default="false" />
  <xacro:arg name="simulation_controllers" default="$(find lampo_description)/config/ur_controllers.yaml" />
  
  <xacro:if value="$(arg omni)">
    <xacro:include filename="$(find lampo_description)/urdf/sweepee/sweepee_omni.xacro" />
  </xacro:if>

  <xacro:unless value="$(arg omni)">
    <xacro:include filename="$(find lampo_description)/urdf/sweepee/sweepee_diff.xacro" />
  </xacro:unless>

  <xacro:sweepee  prefix="$(arg prefix)">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:sweepee>


  <!-- Mobile Manipulator Configuration -->
  <xacro:if value="$(arg mm)">
    <xacro:include filename="$(find lampo_description)/urdf/mm_arm.xacro" />
  </xacro:if>


</robot>
